<h1>Editing Book</h1>

<%= form_with model: @book, url: update_book_path(@book), method: :patch do |f| %>


<h5>title</h5>
<%= f.text_field :title %>

<h5>body</h5>
<%= f.text_area :body %>

<%= f.submit 'BookUpdate' %>

<% end %>
