/*
 */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

p {
  margin: 33px;
  line-height: 18px;
  font-size: 13px;
}

h1 {
  margin: 17.420px;
  display :block;
  font-weight: bold;
  width: 100%
}


h2 {
  display: block;
  font-weight: bold;
}

body {
  margin: 33px;
  font-size: 13px;
  line-height: 18px

}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    width: 100%;
}

.sub-zone {
  margin: 15px 0 0 0;
}

.title_logo {
  width: 188.75px;
  display: flex;
  justify-content: center;

}

.body_logo {
  display: table-cell;
}