/*
 */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

p {
  margin: 33px;
  line-height: 18px;
  font-size: 13px;
}

h1 {
  margin: 17.420px;
  display :block;
  font-weight: bold;
  width: 100%

}


h2 {
  display: block;
  font-weight: bold;
}

body {
  margin: 33px;
  font-size: 13px;
  line-height: 18px

}

table {
    width: 100%;
    margin-right: 100px;

}

td {
  text-align: left;
}

.sub-zone {
  margin: 15px 0 0 0;
}

.title_logo {
  width: 188.75px;
  display: flex;
  justify-content: center;

}

.body_logo {
  display: table-cell;
}

tbody {
  display: table-row-group;
}

.link_book {
  display: flex;

}



.show_title {
  margin: 33px;


}

.show_body {
  margin: 33px;
}